@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

:root {
  --bg-forestGreen: #0f6743;
  --bg-oceanBlue: #193ba8;
  --bg-sunsetRed: #d04431;
  --bg-lavenderFields: #5144de;
  --bg-autumnLeaves: #ab702a;
}

body {
  margin: 0;
  font-family: "Roboto" sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Custom Styles */

.home-background {
  background: var(--bg-autumnLeaves);
  padding-bottom: 24px;
}

/* Audio - Lofi Styles */

.audio-lofi-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?nature&/");
  background-position: center;
  background-size: cover;
}
.audio-lofi-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?nature&2/");
  background-position: center;
  background-size: cover;
}
.audio-lofi-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?nature&3/");
  background-position: center;
  background-size: cover;
}
.audio-lofi-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?nature&4/");
  background-position: center;
  background-size: cover;
}
.audio-lofi-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?nature&5/");
  background-position: center;
  background-size: cover;
}
/* Audio - Effects Styles */

.audio-effects-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?fire/");
  background-position: center;
  background-size: cover;
}
.audio-effects-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?forest&2/");
  background-position: center;
  background-size: cover;
}
.audio-effects-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?ocean&3/");
  background-position: center;
  background-size: cover;
}
.audio-effects-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?rain&4/");
  background-position: center;
  background-size: cover;
}
.audio-effects-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("https://source.unsplash.com/random/?cafe&5/");
  background-position: center;
  background-size: cover;
}

/* Tasks Styles */

.task-add {
  background-color: black;
  opacity: 0.6;
}

.normal {
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.warning {
  border: 2px solid rgba(212, 255, 39, 0.9);
}

.urgent {
  border: 2px solid rgba(255, 81, 81, 0.8);
}
